body{
    width: 480px;
    height: 767px;
}

.container{
    display: flex;
    flex-flow: row wrap;
}

div{
    border: 1px black solid;
    box-sizing: border-box;
}

#a{
    width: 480px;
    height: 75px;
}

#b{
    width: 480px;
    height: 150px;
}

#c, #d{
    width: 480px;
    height: 125px;

}

#e, #f, #g, #h{
    width: 240px;
    height: 250px;
}
#i{
    width: 480px;
    height: 80px;
}
