 
p{
    text-align: center;  
    padding: 50px;
    box-sizing: border-box;
}

#b p{
    padding-top: 100px;
}

@media screen and (min-width: 780px){
#b p{
    padding-top: 250px;
    }
}
