p{
    text-align: center;
}
#a p{
    padding-top: 45px;
}
@media only screen and (max-width: 480px){
    #a p{
    padding-top: 30px;
    }
}

#b p{
    padding-top: 290px;
}
@media only screen and (max-width: 480px){
    #b p{
        padding-top: 75px;
    }
}

section div p{
    padding-top: 100px;
}
@media only screen and (max-width: 480px){
    section div p{
        padding-top: 62.5px;
    }
}

article div p{
    padding-top: 125px;
}
@media only screen and (max-width: 480px){
    article div p{
        padding-top: 120px;
    }
}

#i p{
    padding-top: 75px;
}
@media only screen and (max-width: 480px){
    #i p{
        padding-top: 40px;
    }
}

div{
    float: left;
}

