#a{
        background-color: #890404
    }

#b{
    background-color: #895f04;
}

#c{
    background-color: #bfb90f;
}

#d{
    background-color: #308904;
}


#e{
    background-color: #048954;
}

#f{
    background-color: #047389;
}


#g{
    background-color: #041a89;
}


#h{
    background-color: #710489;
}


#i{
    background-color: #89045f
}

/* tablet view */
@media only screen and (min-width: 768px){
    p{
        color: red;
    }
    #a{
        background-color: #ffffff;
      }

    #b{
        background-color: #c4c5c6;
        }

     #c{
            background-color: #999999;
        }

    #d{
            background-color: #767777;
        }
    #e{
            background-color: #4b4c4c;
        }
     #f{
            background-color: #353535;
        }
    #g{
            background-color: #000000;
        }
     #h{
            background-color: #2052a3;
        }
    #i{
            background-color:#699cef;
        }
        
}
/* desktop view */

@media only screen and (min-width: 960px){
    p{
        color: black;
    }
    #a{
    background-color: #fc0505;
  }
    #b{
    background-color: #fc9505;
    }
    #c{
        background-color: #fcdf05;
        }
    #d{
            background-color: #d8ffd9;
        }
     #e{
            background-color: #05fc09;
        }
    #f{
            background-color: #05dffc;
        }
    #g{
            background-color: #0509fc;
        }
    #h{
            background-clip: #b605fc;
        }
    #i{
            background-color: #fc0578;
        }
    }
