    #a{
        background-color: #890404
    }

@media only screen and (max-width: 480px){
    #a{
    background-color: #fc0505;
  }
}

#b{
    background-color: #895f04;
}
@media only screen and (max-width: 480px){
    #b{
    background-color: #fc9505;
    }
}

#c{
    background-color: #7c8904;
}
@media only screen and (max-width: 480px){
    #c{
    background-color: #fcdf05;
    }
}

#d{
    background-color: #308904;
}
@media only screen and (max-width: 480px){
    #d{
        background-color: #d8ffd9;
    }
}

#e{
    background-color: #048954;
}
@media only screen and (max-width: 480px){
    #e{
        background-color: #05fc09;
    }
}

#f{
    background-color: #047389;
}
@media only screen and (max-width: 480px){
    #f{
        background-color: #05dffc;
    }
}

#g{
    background-color: #041a89;
}
@media only screen and (max-width: 480px){
    #g{
        background-color: #0509fc;
    }
}

#h{
    background-color: #710489;
}
@media only screen and (max-width: 480px){
    #h{
        background-clip: #b605fc;
    }
}

#i{
    background-color: #89045f
}
@media only screen and (max-width: 768px){
    #i{
        background-color: #fc0578;
    }
}